In [ ]:
import pandas as pd
import numpy as np
import os

In [42]:
%run sqlite_execution.py
db1 = DB_V1()
# db1.drop_duplicates()
# db1.cur.execute("UPDATE captchas_v1 SET captcha_string = 'headphones' WHERE captcha_string = 'Please click each image containing headphones'")
# db1.cur.execute("UPDATE captchas_v1 SET file_path = REPLACE(file_path, 'Please click each image containing headphones', 'headphones')")
# db1.commit()
info = db1.get_info()
info

                     total  solved  unsolved
bonsai tree           1235     642       593
cup of orange juice   1046     544       502
laptop                1120     501       619
flower                1670     500      1170
tree                  2008     464      1544
car                   1493     359      1134
motorcycle            1335     309      1026
headphones             586     245       341
helicopter             242     242         0
violin                 249     235        14
goose                  167     158         9
robot                   88       0        88
fruit                   72       0        72
zebra                   10       0        10
cat                      9       0         9
crumpled paper ball      9       0         9

In [43]:
db1.get_model_info()

,date,path,train_samples,test_samples,accuracy,better_than_90,better_than_95
laptop,2023-08-15,laptop/23-227_02,368,133,0.954887,0.99344,0.658332

In [ ]:
%run visualizer.py
plot_captcha_info(info, figsize=(4,10))

In [ ]:
%run collector/collector.py
urls = [
    "https://accounts.hcaptcha.com/demo",
    "https://nopecha.com/demo/hcaptcha",
    "https://democaptcha.com/demo-form-eng/hcaptcha.html",
    "https://freebitco.in/signup/?op=s", 
    "https://accounts.shopify.com/signup?rid=f8d4b2e6-f0fe-41ab-83e5-e633974bd42b&signup_strategy=password",
    "https://www.dierenkliniekoudorp.nl/",
    "https://cellar335.com/",
    "https://www.salumificiovecchi.it/",
    "https://economygarages.com/",
    "https://www.assimilationdesigns.com/"
    "https://raleighvehiclewraps.com/"
    ]
collect_data(db1, urls[0], count=100, collect_v2=True, limit=2000)

In [ ]:
assert 1 == 0 # to avoid execution of code below

In [40]:
%run pytorch_training.py
train_model_on_captcha_string(db1, "laptop", save=True, epochs=10)
# train_models_on_all_captcha_strings(db1, threshold=200, save=True)

Training model on laptop...
Fount 501 useable images
x shape: (501, 3, 128, 128)
y shape: (501, 1)
train size: 368, test size: 133
single element shape: torch.Size([3, 128, 128])
Epoch: 1, Test Loss: 0.0042, Accuracy: 97/133, 72.93%
Epoch: 2, Test Loss: 0.0042, Accuracy: 97/133, 72.93%
Epoch: 3, Test Loss: 0.0033, Accuracy: 97/133, 72.93%
Epoch: 4, Test Loss: 0.0024, Accuracy: 115/133, 86.47%
Epoch: 5, Test Loss: 0.0020, Accuracy: 124/133, 93.23%
Epoch: 6, Test Loss: 0.0020, Accuracy: 123/133, 92.48%
Epoch: 7, Test Loss: 0.0013, Accuracy: 128/133, 96.24%
Epoch: 8, Test Loss: 0.0013, Accuracy: 125/133, 93.98%
Epoch: 9, Test Loss: 0.0011, Accuracy: 127/133, 95.49%
Epoch: 10, Test Loss: 0.0011, Accuracy: 127/133, 95.49%
Saved model to ../data/models/laptop/23-227_02

In [ ]:
%run pytorch_training.py
model_accuracy = test_models_on_all_captcha_strings(db1)

In [ ]:
%run visualizer.py
plot_model_accuracy(model_accuracy, figsize=(4,10))

In [ ]:
%run manual_classifier.py
mc = Manual_Classifier(db1)

In [ ]:
%run vilt.py
vilt = Vilt_Classifier()

In [ ]:
vilt_accuracy = pd.concat((info, vilt.get_accuracy_for_all_captchas(db1)), axis=1)
plot_model_accuracy(vilt_accuracy, figsize=(4,10))